.product-card {
	width: 18rem;
	margin-right: 1rem;
}

.product-body {
	justify-content: space-between;
	display: flex;
	flex-direction: column;
}

.product-link {
	color: #fff;
	text-decoration: none;
}

.product-button {
	width: 100px;
}
